@model Ders
@{
    ViewData["Title"] = "AddDers";
}

<h1>Ders Ekleme Sayfası</h1>
<form asp-action="AddDers" asp-controller="Ders" method="post">
    <label>Ders Adı:</label>
    <input asp-for="Dersad" />
    <label>Ders Kodu:</label>
    <input asp-for="DersKod" />
    <label>Kredi:</label>
    <input asp-for="Kredi" />
    <input asp-for="Dersid" type="hidden" />

    <input type="submit" value="Kaydet" />
</form>
