@model Ders
@{
    ViewData["Title"] = "EditDers";
}

<h1>Ders Güncelleme</h1>
<form asp-action="EditDers" asp-controller="Ders" method="post">
    <label>Ders Adı:</label>
    <input asp-for="Dersad">
    <label>Ders Kodu:</label>
    <input asp-for="DersKod" />
    <label>Ders Kredi:</label>
    <input asp-for="Kredi" />
    <input asp-for="Dersid" type="hidden" />

    <input type="submit" value="Kaydet" />

</form>
